{
    "icon": {
        "bigIconPaths": [
            "App/FastlaneScripts/fastlane/metadata/AppIcon.png"
        ],
        "iconSetPaths": [
            {
                "darkBadge": false,
                "isAlpha": true,
                "path": "App/Code/Project/Project/Images.xcassets/AppIcon-Debug.appiconset",
                "useBadge": true
            },
            {
                "darkBadge": false,
                "isAlpha": false,
                "path": "App/Code/Project/Project/Images.xcassets/AppIcon-Demo.appiconset",
                "useBadge": true
            },
            {
                "path": "App/Code/Project/Project/Images.xcassets/AppIcon-Release.appiconset",
                "useBadge": false
            }
        ]
    },
    "name": "App",
    "projectFilePath": "App/Code/Project/Project.xcodeproj",
    "projectPath": "App/Code/Project",
    "translations": {
        "check": {
            "excluded": [],
			"macro": "\"([^\"]*?)\".localize"
        }
    }
}
