* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: gotham-black;
    src: url(../fonts/gotham-black.otf);
}

@font-face {
    font-family: gotham-book;
    src: url(../fonts/gotham-book.otf);
}

img {
    width: 100%;
}

.container {
    width: 1800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 150px;
}

.clear {
    clear: both;
}

main {
    padding: 40px 0;
}

h1 {
    font-size: 2em;
    text-align: center;
    font-family: 'gotham-black', sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px;
}

h2 {
    font-size: 2em;
    text-align: center;
    font-family: 'gotham-book', sans-serif;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    font-family: 'gotham-black', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}

.unfold {
    overflow: hidden;
    height: 0;
    margin: 0 auto 100px auto;
    text-align: left;
}

.card {
    width: calc(100%/3);
    float: left;
    padding: 30px;
    align-items: center;
}

.card img {
    display: inline-block;
    background-color: lightgray;
    margin-bottom: 20px;
}

.sprache {
    display: block;
    text-align: center;
}

.sprache-button {
    color: #f40000;
    font-family: 'gotham-book', sans-serif;
    margin: 0 10px;
}

label[for="unfold-trigger"] {
    font-size: 1.5em;
    font-family: 'gotham-book', sans-serif;
    border: 1px solid #f40000;
    color: #f40000;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    display: inline-block;
}

#unfold-trigger {
    display: none;
}

#unfold-trigger:checked ~ .unfold {
    height: auto;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

.download-wrapper {
    margin-bottom: 60px;
}

.app-icon {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.download-button {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #f40000;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'gotham-book', sans-serif;
    display: inline-block;
    text-decoration: none;
}

#beta {
    background-color: gray;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    padding: 30px 0;
}

form {
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

form .user-information {
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.2);
    display: block;
    margin-bottom: 20px;
    width: 300px;
}

form .submit {
    padding: 10px 15px;
    background-color: #f40000;
    color: white;
    border: none;
}