### Project Constants (Need to be set by project)

ROOT_DIR="../Code"
APPNAME="App"
DISPLAY_APPNAME="App"
WORKSPACE="App.xcworkspace"
SCHEME="App-Demo"
PLISTFILE="Project/Project/OtherResources/Info.plist"
PROVPROFILE="match AppStore *"
BUNDLE_ID="TODO"


SEND_EMAIL=false
EMAIL="vicente.crespo.penades@gmail.com"
EMAIL_NAME="Vicente Crespo"

DISABLE_SOURCE_CONTROL=1 # Set to 1 to disable commit/push

APPICON="../Code/Project/Project/Images.xcassets/AppIcon-Release.appiconset/Icon-83.5@2x.png"

KEYCHAIN_ITEM="TODO"
FTPACCOUNT="TODO"
FTPSERVER="TODO"
FTPPORT="21"
FTPREMOTEPATH="/public_html/App"
PUBLISH_URL="TODO"
FTP_USE_SFTP=false

### Constants (Usually need to be set only once)
COMPANYNAME="Vicente Crespo Penadés"
ARCHIVEPATH="${HOME}/Desktop/jjdeploy/${APPNAME}"
